<article class="vf-summary vf-summary--profile">
  <img class="vf-summary__image vf-summary__image--avatar" src="{{ path '/assets/vf-summary/assets/vf-icon--avatar.svg' }}" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <a href="##" class="vf-summary__email vf-summary__link">Contact Person</a>
  <p class="vf-summary__phone">+49 6221 387 8443</p>
  <p class="vf-summary__phone vf-summary__phone--mobile">+49 1758 991 179</p>
</article>


<article class="vf-summary vf-summary--profile">
  <a href="#" class="vf-summary__link--overlay"></a>
  <img class="vf-summary__image vf-summary__image--avatar" src="{{ path '/assets/vf-summary/assets/vf-icon--avatar.svg' }}" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <a href="##" class="vf-summary__email vf-summary__link">Contact Person</a>
  <p class="vf-summary__phone">+49 6221 387 8443</p>
  <p class="vf-summary__phone vf-summary__phone--mobile">+49 1758 991 179</p>
</article>

<article class="vf-summary | vf-summary--profile vf-summary--profile-l">
  <img class="vf-summary__image vf-summary__image--avatar" src="{{ path '/assets/vf-summary/assets/vf-icon--avatar.svg' }}" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <p class="vf-summary__uuid"><span>ORCID ID:</span> 0000 - 1234 - 4326 - XX03</p>
  <a href="##" class="vf-summary__email vf-summary__link">Contact Person</a>
</article>


<article class="vf-summary | vf-summary--profile vf-summary--profile-r">
  <img class="vf-summary__image vf-summary__image--avatar" src="{{ path '/assets/vf-summary/assets/vf-icon--avatar.svg' }}" alt="">
  <h3 class="vf-summary__title">EMBL Press Office</h3>
  <p class="vf-summary__text">Title If Relevant</p>
  <a href="##" class="vf-summary__email vf-summary__link">Contact Person</a>
</article>


<article class="vf-summary | vf-summary--profile vf-summary--profile-s">
  <img class="vf-summary__image vf-summary__image--avatar" src="{{ path '/assets/vf-summary/assets/vf-icon--avatar.svg' }}" alt="">
  <p class="vf-summary__text">Title If Relevant</p>
</article>
