<header class="vf-header">
  {{> @vf-global-header}}
</header>

<div class="vf-body">
  <section class="embl-grid embl-grid--with-label">
    <div></div>
    <p>Group container here</p>
  </section>


  <section class="vf-news-container | embl-grid embl-grid--labeled-with-sidebar">

    {{> '@vf-section-header' section-title='Latest Press Releases'}}

    <div class="vf-news-container__content">
      {{ render '@vf-news-item' }}
      {{ render '@vf-news-item' }}
      {{ render '@vf-news-item' }}
      {{ render '@vf-news-item' }}
    </div>

    <div class="vf-news-container__sidebar">
      {{ render '@vf-news-item--snippet' }}
      {{ render '@vf-news-item--snippet' }}
      {{ render '@vf-news-item--snippet' }}
    </div>

  </section>

</div>

{{> @vf-footer }}
