<article class="vf-snippet">
  <h2 class="vf-snippet__heading | vf-text vf-text--heading-default">
    <a href="JavaScript:Void(0);" class="vf-snippet__link">{{ snippet-heading }}</a>
  </h2>
  <span class="vf-snippet__meta | vf-text vf-text--body-default">
    <a href="JavaScript:Void(0);" class="vf-snippet__link | vf-snippet__author">{{ snippet-author }}</a>
    <date class="vf-snippet__date">{{ snippet-date }}</date>
    <a href="JavaScript:Void(0);" class="vf-snippet__link">{{ snippet-meta-link }}</a>
  </span>
  <p class="vf-snippet__teaser | vf-text vf-text--default">{{ snippet-teaser-text }}</p>
  <a class="vf-snippet__read-more | vf-text vf-text--default" href="JavaScript:Void(0);">{{ snippet-teaser-link }}</a>
</article>
