<section class="vf-news-container | embl-grid embl-grid--has-sidebar">

  {{> '@vf-section-header'}}

  <div class="vf-news-container__content">
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
    {{ render '@vf-news-item' }}
  </div>

  <div class="vf-news-container__sidebar">
    {{ render '@vf-news-item--snippet' }}
    {{ render '@vf-news-item--snippet' }}
    {{ render '@vf-news-item--snippet' }}
  </div>

</section>
