<span class="vf-tags vf-tags--primary">{{tag-name}}</span>
<span class="vf-tags vf-tags--secondary">{{tag-name}}</span>
<span class="vf-tags vf-tags--tertiary">{{tag-name}}</span>
<span class="vf-tags vf-tags--primary vf-tags--rounded">{{tag-name}}</span>
<span class="vf-tags vf-tags--primary vf-tags--pill">{{tag-name}}</span>
<span class="vf-tags vf-tags--primary vf-tags--square"></span>


<span class="vf-tags vf-tags--primary vf-tags--outline">{{tag-name}}</span>
