<style>
li {
  color: black;
}
</style>
<h2>Default</h2>
<code style="display: block; margin-bottom: 16px;">
  &lt;button class="vf-button"&gt;Defualt&lt;/button&gt;
</code>
{{render '@vf-button'}}

<h2>Sizes</h2>
{{render '@vf-button--sizes'}}
<h3>Size classnames:</h3>
<ul class="vf-list vf-list--inline">
  <li>vf-button--s</li>
  <li>vf-button--r</li>
  <li>vf-button--l</li>
</ul>

<h2>Borders</h2>
{{render '@vf-button--variants'}}
<h3>Border style classnames:</h3>
<ul class="vf-list vf-list--inline">
  <li>vf-button--pill</li>
  <li>vf-button--rounded</li>
</ul>

<h2>Colours</h2>
{{render '@vf-button--styles'}}
<h3>Color classnames:</h3>
<ul class="vf-list vf-list--inline">
  <li>vf-button--primary</li>
  <li>vf-button--secondary</li>
  <li>vf-button--tertiary</li>
</ul>

<h2>Outlines</h2>
{{render '@vf-button--outline'}}
<h3>Outline color classnames:</h3>
<ul class="vf-list vf-list--inline">
  <li>vf-button--outline--primary</li>
  <li>vf-button--outline--secondary</li>
  <li>vf-button--outline--tertiary</li>
</ul>
